.no-bullet {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.nav-item {
  text-align: center;
  font-size: 1em;
  height: 2em;
}

.nav-item:hover {
  background: $primary-darkened;
}

nav {
  width: 100%;

  h1 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
  }

  h1:hover {
    background: $primary-darkened;
    cursor: pointer;
  }
}

.nav-img {
  width: 60%;
  margin-left: 20%;
}

.yb-order {
  width: 100%;
  height: 100%;
  text-align: center;
  color: $dark;
  background: white;
  margin-bottom: 2em;
  font-size: 0.5em;
  padding-top: 1.1em;
}

.yb-order:hover {
  background: $light;
  color: $dark;
}

#ads {
  display: none;
}

#yb-hs, #yb-jh {
  position: relative;
  left: 67%;
}

.nav-link {
  width: 30%;
}

.fb {
  width: 100%;
}

@media all and (min-width: 1024px) {
  .nav-item {
    text-align: right;
    padding-right: 2em;
    font-size: 0.8em;
    height: 2em;
  }

  nav h1 {
    margin-top: 0.5em;
    text-align: right;
    font-size: 1.6em;
    padding-right: 1em;
    font-family: 'Lustria', serif;
  }

  nav h1:hover {
    background: $primary;
    cursor: default;
  }

  #ql-dropdown {
    display: block !important;
  }

  #ads {
    display: block;
  }
}

@media all and (min-width: 1920px) {
  .nav-item {
    font-size: 1em;
  }

  .yb-order {
    font-size: 0.7em;
  }
}
