body {
  background: $dark;
  color: $light;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

a {
  color: $light;
}

a:hover, a:focus, a:active {
  color: $light;
  text-decoration: none;
}

h1 {
  font-size: 1.6em;
  font-family: 'Lustria', serif;
}

blockquote {
  font-size: 1.2em;
}

.inline {
  display: inline-block;
  margin-right: -5px;
}

.extra-space {
  margin-top: 2em;
}

.justify {
  text-align: left;
}

.fourteen-point {
  font-size: 0.7em;
}
