body {
  background: $dark;
  color: $light;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

a {
  color: $light;
}

a:hover, a:focus, a:active {
  color: $light;
  text-decoration: none;
}

h1 {
  font-size: 1.6em;
  font-family: 'Lustria', serif;
}

blockquote {
  font-size: 1.2em;
}

.inline {
  display: inline-block;
  margin-right: -6px;
}

.extra-space {
  margin-top: 2em;
}

.justify {
  text-align: left;
}

.small-font {
  font-size: 14px;
}

.desktop-only {
  display: none;
}

@media all and (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: inline-block;
  }
}
