.content {
  margin-top: 11em;
}

.content-side {
  width: 20%;
  background: $primary;
  color: $light;
}

.content-center {
  width: 60%;
  padding-left: 3em;
  padding-right: 3em;
}

@media all and (min-width: 1024px) {
  .content {
    margin-top: 5em;
  }
}
